  *{
    padding: 0;
    margin: 0;
  }
  /*  CSS IMPORTS */
  @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Chela+One&family=Cormorant+Garamond:ital@1&family=EB+Garamond&family=Lilita+One&family=Lugrasimo&family=Roboto+Mono&display=swap');



  /*
  font-family: 'Bacasime Antique', serif;
  font-family: 'Chela One', cursive;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Lilita One', cursive;
  font-family: 'Lugrasimo', cursive;
  font-family: 'Roboto Mono', monospace;
   */
  
  /* Global Reset */
  * {
  
      margin: 0;
      padding: 0;
  }
  
  /* -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  *::-webkit-scrollbar{
      display: none;
  } */
  nav {
      display: flex !important;
  
      justify-content: center !important;
  }
  
  html {
      scroll-behavior: smooth;
  }
  
  /*  End Global Reset */
  
  
  /*                            navbar CSS                    */
  .navbar-brand>.brand-img {
  
      height: 2em;
      width: 10em;
  }
  
  .navbar-brand {
      margin-right: 0 !important;
   
  }
  
  .nav-container button {
      border: none !important;
  }
  
  .navbar-toggler:focus {
      box-shadow: none !important;
  }
  
  .nav-container {
      background: rgba(255, 255, 255, 0.21);
      backdrop-filter: blur(5.3px);
      -webkit-backdrop-filter: blur(5.3px);
      margin-top: 10px;
      border-radius: 20px;
      cursor: pointer;
      /* box-shadow: 0px 0px 15px 1px  #ffdf00; */
      /* box-shadow: 0px 0px 10px 1px #FFD700, 0px 0px 6px 1px #ffbb00, 0px 0px 6px 1px #ffc400; */
      box-shadow: 0px 0px 10px 1px #82da2a, 0px 0px 6px 1px #8fc82e, 0px 0px 6px 1px #85c938cc;
  
      position: fixed;
      position: fixed;
      z-index: 999999;
      top: 0;
      width: 90%;
  }
  
  .navbar-link {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: .5em;
  }
  
  .navbar-link .nav-link {
      /* color: white !important; */
      /* color: rgb(74, 57, 57); */
      color: rgb(54,69,79);
      /* font-family: 'Bacasime Antique', serif; */
      /* font-family: 'VT323', monospace; */
      font-family: 'Cormorant Garamond', serif;
      font-weight: 900;
      font-size:1.5em;
  }
  
  .navbar-nav a {
      text-align: center;
  }
  
  .navbar-nav a:hover {
      background-color: white;
      border-radius: 10px;
  }

  /* Media Querry */
  /* @media screen and  (max-width: 575.98px) { */
/* .container{
    margin-top: 45px;
    margin-left: 40px;
} */

span{
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}
#head{
    
    font-weight: bolder;
    font-size: 30px;
    display:flex;
    /* overflow: hidden; */
}
.main{
    /* column-count: 2;
    column-gap: 2; */
    align-items: center;
    justify-content: center;
    max-height: 1500px;
    /* height: 700px; */
    padding: 100px 0px 0px 50px;
    /* margin-top: 30%;
    margin-left: 10%; */
}
.main-image{
    
    margin-top: -20%;
    max-width: 1200px;
    width:300px;
    float: right;
  
}
#image01{
  /* max-width: 1200px;
  width:300px;
  float: right;  */
  

    /* margin-top: 40px;
    margin-left: 20px; */
 
    height:300px ;
    width:300px ;
}
small{
    text-indent: 5%;
    line-height: 40px;
    font-size: 15px;
    /* display: flex; */
    font-family: 'Caprasimo';
        font-weight: 800;
}
i ,#icon{
    
    color: orange;
    font-size: 30px;
}
h4{
    margin-top: 30px;
    margin-left: 10%;
    border: 0px solid;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    /* color: black; */
    background-image: linear-gradient(to right top, #2faec0, #009fd1, #008de1, #0074e4, #6751d4);
    
}

