





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  overflow-x: hidden;
}
a{
  text-decoration:none;
}

/* *********************************************** */

nav {
  display: flex !important;

  justify-content: center !important;
}

/*                            navbar CSS                    */
.navbar-brand .brand-img {

  height: 2.3em;
  width: 9em;
}

.navbar-brand {
  margin-right: 0 !important;
  font-weight: bolder;
}

.nav-container button {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-container {
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
  /* box-shadow: 0px 0px 15px 1px  #ffdf00; */
  box-shadow: 0px 0px 10px 1px #2c2c2c;
  position: fixed;
  position: fixed;
  z-index: 999999;
  top: 0;
  width: 90%;
}

.navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5em;
}

.navbar-link .nav-link {
  /* color: white !important; */
  color: black;
  font-family: 'Bacasime Antique', serif;
  /* font-family: 'VT323', monospace; */
  font-weight: bolder;
  font-size: 1.3em;
}

.navbar-nav a {
  text-align: center;
}

.navbar-nav a:hover {
  background-color: white;
  border-radius: 10px;
}

/* todo                          End Of Nav CSS                  */

/* todo                    intro-section css */

.intro-section{
  /* height: 80vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
}
.intro-section h1{
  margin-bottom:1.5rem;
  font-weight: bolder;
}
.intro-section .secondary-text{
  font-weight:bold;
  margin-bottom: 1.4rem;
  background-image: url(../assest/img/Magic\ Stick.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.reach-us #btn{
  border: none;
  text-decoration: none;
  width: 100%;
  padding: .5rem 2.5rem;
  border-radius: 25px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
.reach-us a{
  color: black;
  font-weight: bolder;
  font-size: 1.3rem;
}

.social-links{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
}
.social-logo {
  height: 50px;
  width: 50px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links .social-logo a{
  color: black;
}
.social-links .social-logo i{
    font-size: 1.8rem;
    
}
.social-logo i:hover{
  font-size:3rem;
}
/* nature img */
.nature img{
  width: 100%;
  height:200px;
  display: none;
}

/* todo        section 2 css        */
.customer-count{
  display: flex;
  justify-content: center;
  margin-top:5rem;

 
}
.count-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5.3px);
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #2c2c2c;
  padding-block: .5rem;
}
.count-container .inner-container{
  text-align: center;
}
.inner-container p{
  margin-bottom: 0rem !important;
}
.count-container span{
  font-size: 1.8rem;
  font-weight: bolder;
}
.count-container p{
  font-weight: 650;
}
.inner-container{
  position:relative;
  z-index:10;
}

/* todo     section 2 end            */

/* todo        section-02  css start   */
.section-02{
  margin-top:10rem;
}
.section-name{
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom:2rem;
  
}
.section-name span{
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5.3px);
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #2c2c2c;
  padding: .3rem 1rem;
  margin-inline: 20px;
}

.section-img-02{
  margin-top: 2rem;
  
}

#main-text-01 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 2rem;
}
#sub-text-02{
  font-weight: 600;
  text-align: justify;
}

.features {
  /* text-align: center; */
  margin-top: 2rem;
}
.feature-list{
  margin-block:1.8rem;
}
.feature-list span{
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 1rem;
 
}
.feature-list i{
  font-size:1.6rem;
  padding-inline:.5rem;
  padding-block:.3rem;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5.3px);
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #2a292c;
  border-radius:10px;
}

.section-content-02{
  margin-bottom: 4rem;
}


/* todo    section-03 css    */

.section-img-03{
  position:relative;
}

.section-img-03 img{
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5.3px);
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #4f4e50;
  border-radius:10px; 
}
.section-img-03 #sale{
  position: absolute;
  right: 0;
  top: 1rem;
  left: 75%;
  font-weight: bolder;
  background-color: violet;
  border-top-right-radius:10px;
  border-bottom-right-radius: 10px;
  padding-left: .4rem;
  border-top-left-radius:5px;
  border-bottom-left-radius: 5px;
}

#price{
  font-weight: 600;
  margin-top:2rem;
}
#property-name{
  font-weight: 600;
}
#property-content{
  font-weight: 550;
}

.property-detail-02{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.property-detail-02 {
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5.3px);
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #4f4e50;
  border-radius:10px;
  margin-bottom: 1rem; 
}
.detail i{
  font-weight: 800;
}
.detail span{
  font-weight: 800;
}
.detail p{
  margin-bottom:.5rem !important;
  font-weight: 600;
}
.btn{
 margin-left: 0;
 padding: 0;
 margin-bottom: 2rem;
}
.btn button {
  border: none;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5.3px);
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #4f4e50;
  border-radius:7px;
  padding-inline: 2rem;
}
.btn a{
  color: black;
  font-weight: 600;
}


/*  todo      section 4  start    */

.section-04{
  margin-bottom: 5rem;
}

.aminities-detail{
  width: 45%;
  margin-top: 1rem;
  margin-left: .9rem;
  margin-bottom: 1rem;
  text-align: center;
  position:relative;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5.3px);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #4f4e50;
}
.aminities-detail i{
  margin-block: 1rem;
  font-size: 1.5rem;
}

.aminities-detail p{
  margin-bottom: 2rem !important;
  margin-top: 1rem;
  font-weight: 600;
}

.aminities-detail  .arrow{
  position:absolute;
  left:4rem;
  top: 4.5rem;
  padding-inline: .5rem;
  padding-block: .1rem;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5.3px);
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #4f4e50;
}

/* todo   footer Seciton CSS */

.footer .logo{
  font-weight: bolder;
  font-size:1.7rem;
}

.about{
  text-align: justify;
}

.address i{
  font-size:1.2rem;
}

.address span{
  margin-left: .8rem;
  font-weight: 600;
}

.footer-social{
  text-align: center;
}
.links p{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom:0 !important;
  padding-bottom: .5rem;
  border-bottom: 2px black solid ;
  display: inline;
}
.links a{
  color: black;
  margin-top: .5rem;
}

.links ul {
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
}
.links div{
  margin-top: .5rem;
  text-align: center;
}
.links div a {
  margin-left: .6rem;
}